.focus circle {
  fill: #f1f3f3;
  stroke: #356ac4;
  stroke-width: 5px;
}

.focus:hover {
  cursor: pointer;
}

.hover-line {
  stroke: #356ac4;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis path,
.axis line {
  fill: none;
  stroke: #1c3766;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
